*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/_fest/images/advance.jpg);
    background-size: contain;
    /* background-color: #fff; */
    /* background: url(images/21404.jpg); */
    margin-top: 1px;
    /* background-size: cover; */
    /* background-position: center; */
    font-family: sans-serif;
}


.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}

.menu-bar ul li{
    width: 220px;
    margin: 15px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;

}
.menu-bar ul li a{
     text-decoration: none;
     color:black;
}
.menu-bar ul li :hover{
    background: #ffffff;
    border-radius: 3px;
}
.submenu1{
    display: none;
}
.menu-bar ul li:hover .submenu1{
    display: block;
    position: absolute;
    background: #ffffff;
    margin-top: 15px;
    margin-left: -15px;
    

}
.menu-bar ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
    

}
.menu-bar ul li:hover .submenu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
.menu-bar ul li:hover .submenu1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .submenu1 ul li a:hover{
    color:#d0866a;
}


* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    
}
:root {
	/* --bg: #ffffff; */
	--fg: #17181c;
	--input: #e6d7d7;
	--primary: #255ff4;
	--dur: 1s;
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
}
body, input {
	color: var(--fg);
	font: 1em/1.5 Hind, sans-serif;
}
body {
	background: var(--bg);
	display: flex;
	height: 100vh;
}
form, input, .caret {
	margin: auto;
}
form {
    margin-top: 140px;

	position: relative;
	width: 100%;
	max-width: 17em;
}
input, .caret {
	display: block;
	transition: all calc(var(--dur) * 0.5) linear;
}
input {
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:focus, input:valid {
	background: var(--input);
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(var(--dur) * 0.25);
	transition-delay: calc(var(--dur) * 0.25);
	width: 100%;
	height: 3em;
}
input:focus {
	animation: showCaret var(--dur) steps(1);
	outline: transparent;
}
input:focus + .caret, input:valid + .caret {
	animation: handleToCaret var(--dur) linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}
input::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	color: #ffffff;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
.caret {
	background: currentColor;
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.25em;
	height: 1em;
	transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	transform-origin: 50% 0;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {	
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
		--input: #2e3138;
		--primary: #5583f6;
	}
}

/* Animations */
@keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: var(--primary);
	}
}
@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	}
	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
	}
	50%, 62.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
	}
	75%, 99% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
	87.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
	}
	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
}




header{
    position: fixed;
    top: auto;
    left: auto;
    right:auto;
    padding: 20px 100px;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99%;
    margin-top: 40px;
}

.navigation a{
    font-size: 20px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;   
    /* animation: fadeInText .5s ease forwards .5s; */
    animation: fadeIn 2s ease forwards;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: darkgoldenrod;
    border-radius: 5px;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .login{
    font-family:'Times New Roman', Times, serif;
    width: 70px;
    height: 30px;
    font-size: 20px;
    background: transparent;
    color: black;
    outline: none;
    border-radius: 5px ;
    margin-left: 30px;
    transition: .5s;
}

.navigation .login:hover{
    /* background: black; */
    color:darkgoldenrod;
    cursor: pointer;
}

.Welcome_Sherlock{
    font-size: 25px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    margin-top: -6px;
    user-select: none;
    animation: fadeIn 2s ease forwards;
}

.wrapper{
    justify-content: center;
    position:relative;
    box-shadow: black;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px rgb(14, 13, 13);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: flex-end;
 transform: scale(0);

 overflow-y: auto;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 2em;
    display: flex;
    color: solid black;
    cursor: pointer;
    align-items: center;
}

.form-box h2{
    font-size: 2em;
    color: darkgoldenrod;
    text-align: center;
}

.input{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black ;
    margin: 30px 0;
}

.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}

.input input:focus~label,
.input input:valid~label{
    top: -5px;

}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: .5cm;
    color: rgb(252, 197, 16);
    font-weight: 300;
    padding: 0 35px 0 4px;
}

.input .icon{
    position: absolute;
    right: 4px;
    font-size: .5cm;
    color: goldenrod;
    line-height: 50px;
}

.remember-forgot{
    font-size: .9em;
    color: black;
    font-weight: 400;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color:#162938;
    margin-right: 3px;
}

.remember-forgot a{
    color:rgb(49, 10, 156);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.button{
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 15px;
    outline:invert;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 550;
}

.loginregiser{
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0 10px;
}

.loginregiser p a{
    color: #162938;
    text-decoration: none;
    font-weight: 500;
}

.loginregiser p a:hover{
    text-decoration: underline;
}

@keyframes animate {
    0% {
      transform: scale(0, 0.005);
    }
    50% {
      transform: scaleY(0.005);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
  
  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  body{
    background-image: url(/_fest/images/21404.jpg);
    /* background: url(images/advance.jpg); */
    /* background-position: 108px; */
    background-size: contain;
    background-position: 61px 184px;
    background-repeat:no-repeat
  }